<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
</head>
<body>
  <!-- Logged in -->
  <% if(user){ %>
    <h1>Logged in as: <%= user.email %>!</h1>
    <form action="/logout" method="POST">
      <button type="logout">Logout</button>
    </form>
    <!-- If logged in -->
  <% } else{ %>  
    <form action="/login" method="POST">
      <label>Username</label>
      <input name="username"/>
      <button type="login">Login</button>
    </form>
 <% } %>
</body>
</html>